[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = andrey0502255@gmail.com
	name = xionter
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[rerere]
	enabled = true
